<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head") %>
  <script src="/js/index.js" type="module"></script>
</head>
<body>
	<%- include("../partials/header") %>
<div class="main">
  <% if (payload.error) { %>
   <p><%= payload.error %> </p>
  <% } %>
  <button id="play-button" type="button">Play</button>
  <button id="join-button" type="button">Join Room</button>
  <form id="create-room-form" class="hidden" method="POST" action="/room">
    <label for="username">Username</label>
		<input id="username" name="username" type="text" placeholder="Insert text here" value="" required/>
		<button id="form-create-room-button" type="submit">Create Room</button>
  </form>

  <form id="join-room-form" class="hidden" method="POST" action="/room?_method=PATCH">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" placeholder="Insert Nickname" value="" required/>
    <label for="roomId">Room ID</label>
    <input id="roomId" name="roomId" type="text" placeholder="Insert roomId" value="" required/>
		<button id="form-join-room-button" type="submit">Join</button>
	</form>
</div>
	<%- include("../partials/footer") %>
</body>
</html>
