<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("../partials/head") %>
</head>
<body>
	<%- include("../partials/header") %>
<div class="main">
	<div>
		<p><%= roomId %></p>
	</div>
</div>
	<%- include("../partials/footer") %>
</body>
</html>
